<h1>Add a new Team:</h1>

<form action="/teams" method="post">

  <div class="form-group">
    <label for="name">Team name:</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="logo">Team logo:</label>
    <input id="logo" name="logo" type="text" class="form-control">
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Add Team</button>
    <a href="/" class="btn btn-success">Return to List of Teams</a>
  </div>

</form>
